h1 {
  font-size: 28px;
  color: white;
}


@media screen and (min-width: 300px) and (max-width: 375px) {
    header{
      background-image: url('/mobile/bg-pattern-header.svg');
      background-size: 100%;
      background-repeat: no-repeat;
      min-height: 10vh; 
      padding: 1rem 1.5rem;
    }
}

@media screen and (min-width: 950px) {

  header {
    background-image: url('/desktop/bg-pattern-header.svg');
    background-repeat: no-repeat;
    min-height: 10vh; 
    height: 10rem;
    display: flex;
    align-items: center;
    background-size: 100% 100%;
  }

  header div {
    width: 83%; 
    margin:auto;
    padding-bottom: 1.2rem;
  }


}